# Auto detect text files and perform LF normalization
* text=auto
*.pdf filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/U filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/include/fixedInlet filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/include/frontBackUpperPatches filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/include/initialConditions filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/k filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/nut filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/omega filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/0.orig/p filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/cellZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/faceZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/pointZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/1/polyMesh/points filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/cellZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/faceZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/pointZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/2/polyMesh/points filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/cellZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/faceZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/pointZones filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/3/polyMesh/points filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/Allclean filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/Allrun filter=lfs diff=lfs merge=lfs -text
*.extendedFeatureEdgeMesh filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/polyMesh/points filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/transportProperties filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/triSurface/README filter=lfs diff=lfs merge=lfs -text
*.eMesh filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/constant/turbulenceProperties filter=lfs diff=lfs merge=lfs -text
*.foam filter=lfs diff=lfs merge=lfs -text
*.vtk filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/blockMeshDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/controlDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/cuttingPlane filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/decomposeParDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/ensightWrite filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/forceCoeffs filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/fvSchemes filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/fvSolution filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/meshQualityDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/snappyHexMeshDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/streamLines filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/surfaceFeatureExtractDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/robot/system/wallBoundedStreamLines filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/Allrun filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/constant/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/constant/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/constant/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/constant/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/constant/polyMesh/points filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/system/blockMeshDict filter=lfs diff=lfs merge=lfs -text
*.orig filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/system/controlDict filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/system/fvSchemes filter=lfs diff=lfs merge=lfs -text
/Proj2/assets/sphere/system/fvSolution filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
